body {
	background-color: #FFFFFF;
}

a {
	text-decoration:none;
	color: black;
}

.common {
	font: 81.25%/1 arial,helvetica,sans-serif;
}

.bold {
	font-weight: bold;
	color: rgb(34, 34, 34);
}

.textField {
	width:280px;
	height:30px; 
	border:1px solid #d9d9d9;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.margin {
	margin-top:20px;
	margin-bottom:10px;
}