.content {
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	padding-top:20px;
	padding-left:15px;
	max-width:800px;
	background-color:rgb(241, 241, 241);
	border:1px solid #e5e5e5;	
}

.table {
	width:100%;
	border-collapse:collapse;
}

.table td, .table th {
	border:1px solid #e5e5e5;
	padding:3px 7px 2px 7px;
}

.table th {
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#e5e5e5;
}

.action {
	width:135px;
	vertical-align:middle;
}

.customer {
	width:135px;
}

.message {
	max-width:350px;
	word-wrap:break-word;
}