.header {
	height:50px;
	background-color:rgb(241, 241, 241);
	border:1px solid #e5e5e5;
}

.logo {
	width:160px;
	height:40px;
	background-image:url(../img/logo-header.png);
	display:inline-block;
	position:relative;
	left:15px;
}

.greetings {
	display:inline-block;
	position:relative;
	bottom:15px;
	left:30px;
}

.exit {
	float:right;
	position:relative;
	top:2px;
	right:15px;
}
