a {
	text-decoration: none;
	margin-left:50px;
}

.formPanel {
	background-color:rgb(241, 241, 241);
	width:400px;
	border:1px solid #e5e5e5;
}

.form {
	width:280px;
	height:250px;
}

.formText {
	font-size:16px;
	width:280px;
	margin-top: 25px;
}

#logo {
	background-image:url(../img/logo.png);
	width:400px;
	height:100px;
}